span{
    color: blueviolet;
}
.p1{
    background-color: aqua;
    color: white;
}
.p3{
    background-color: blue;
    color: white;
}
.p4{
    background-color: blueviolet;
    color: white;
}
#unique{
    background-color: pink;
    height: 50px;
    width: 100px;
    border: 10px black ;
}
#unique:hover{
    background-color: rosybrown;
}